<section>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
<div class="from-group">
<label>Name</label>
<input type="text" formControlname="Name"  required>

</div>
<div class="from-group">
        <label>Name</label>
        <input type="text" formControlName="name" >
        
        </div>
        <div class="from-group">
                <label>Email</label>
                 <input type="text" formControlName="mail" required>
                 </div>

                 <div class="from-group">
                        <label>Company</label>
                         <input type="text" formControlName="compnay" required>
                         </div>
                         <button (click)="updatedForm()" >UpdataForm</button>

</form>

</section>
