
<form [formGroup]="loginForm" (ngSubmit)="log(loginForm)" *ngIf="myForm"> 
<div class="row">
       <input formControlName="email" placeholder="Please enter your email" >
     
    <div class="error" *ngIf="loginForm.get('email').hasError('required')"> 
        Please enter your user email id</div>

    </div>
<div class="row">
        <input type="password" formControlName="password" placeholder="Please enter your password"
         required >
         <div class="error" *ngIf="loginForm.get('password').hasError('required')">
             Please enter your password.
         </div>
 </div>
 
<button class="btn" >Login</button>
</form>
<div>{{message}}</div>
