table{border-style:solid; border-color:#ddd; border-width: 1px 1px 1px 0px; font:14px/18px Arial; color:#000}
table th{ font-weight: bold; padding:5px;border-left:1px solid #ddd}
table td{ padding:5px;border-top:1px solid #ddd ;border-left:1px solid #ddd}